.form label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    margin-bottom: .1rem !important;
}

.form .label_2 {
    display: flex;
    justify-content: space-between;
}

.form .label_2 label {
    width: calc(50% - 10px);
}

.form .field {
    display: block;
    margin-bottom: 5px;
}

.card {
    background-color: transparent !important;

}